body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, sans-serif;
}

*:focus {
    outline: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(59, 89, 152);
    height: 90px;
    border: 1px solid darkblue;
    color: white;
}

.fb-log h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 48px;
    height: 44px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    margin-bottom: 15px;
    margin-top: 11px;
}

.user-info {
    line-height: 23px;
}

.user-info span {
    margin-right: 117px;
    font-size: 12px;
}

.form {
    height: 23px;
}

#username,
#user-password {
    margin-right: 17px;
    padding: 3px 3px 4px 3px;
    border: 1px solid #1d2a5b;
    height: 19px;
}

button {
    color: white;
    background-color: rgb(66, 103, 178);
    padding: 2px 6px;
    border: 1px solid #29487d;
    line-height: 18px;
    height: 27px;
    font-weight: 900;
}

.password-recover a p {
    margin: 0;
    padding: 10px;
    margin-left: 192px;
    font-size: 12px;
    text-transform: capitalize;
    color: #9cb4d8;
}

.password-recover a {
    text-decoration: none;
    cursor: pointer;
}

.main {
    background: linear-gradient(white, #D3D8E8);
    min-width: 980px;
    height: 597px;
}

.main-content {
    margin: 0 auto;
    position: relative;
    width: 980px;
    height: 597px;
}

.float-left {
    float: left;
}

.connect {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
    margin-bottom: 0;
    font-weight: 900;
}

.content {
    margin-right: 15px;
    width: 565px;
}

.first-time-login {
    max-width: 400px;
    height: 597px;
    width: 400px;
}

.float-right {
    float: right;
}

.account_create h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
}

.first-time-login .heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fcg {
    color: #1d2129;
    font-size: 19px;
    line-height: 1.34;
}

.first-time-login .registration-container {
    height: 479px;
}

.registration-container .registration {
    height: 449px;
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
}

.fullname-field {
    height: 48px;
    width: 400px;
}

.tgh_j {
    width: 398px;
    height: 48px;
}

.rfx_fullname {
    width: 193px;
    height: 38px;
    padding-right: 8px;
    padding-bottom: 10px;
}

.size_fullname {
    width: 193px;
    height: 38px;
}

.enter_fullname {
    width: 193px;
    height: 38px;
}

.firstname {
    width: 172px;
    height: 20px;
    padding: 8px 10px 8px 10px;
    width: 171px;
    height: 20px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #bdc7d8;
}

::placeholder {
    font-size: 20px;
}

.marg_surname {
    height: 38px;
    width: 193px;
    margin-bottom: 10px;
}

.ad4 {
    display: inline-block;
    position: relative;
}

.surname-size {
    height: 38px;
    width: 193px;
}

.mob-phone-input {
    width: 398px;
    height: 38px;
    margin-bottom: 10px;
}

.bb5 {
    width: 398px;
    height: 38px;
}

#d4b_y {
    width: 376px;
    height: 20px;
}

.password-field {
    height: 38px;
    width: 398px;
    margin-bottom: 10px;
}

.size_password {
    height: 38px;
    width: 398px;
}

.birthday-wrapper {
    width: 400px;
    height: 57px;
}

.tvx_c {
    width: 400px;
    height: 20px;
    margin-top: 18px;
    margin-bottom: 5px;
}

._2_68 {
    color: #90949c;
    font-size: 21px;
    font-weight: bold;
}

.date-field {
    width: 400px;
    height: 31px;
}

._5k_4 {
    width: 192px;
    height: 32px;
    display: inline-block;
}

.day {
    border: 1px solid #ccd0d5;
    background-color: #fff;
    color: #1c1e21;
    width: 56px;
    height: 32px;
    padding: 5px;
}

#month {
    width: 62px;
}

#year {
    width: 64px;
}

._58_ms {
    font-size: 11px;
    max-width: 150px;
    width: 16px;
    height: 19px;
    display: inline-block;
}

._65_k {
    margin-left: 10px;
}

i.img {
    background-image: url(/rsrc.php/v3/yC/r/13OYRV3vsIV.png);
    background-size: 58px 216px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 0 -198px;
}

.gender-detail {
    height: 57px;
    width: 400px;
    margin-top: 10px;
}

.gender {
    width: 400px;
    height: 21px;
    margin-top: 10px;
    margin-bottom: 5px;
}

._5k_3 {
    width: 302px;
    height: 31px;
    display: inline-block;
}

._5k_2 {
    width: 94px;
    height: 21px;
    padding: 5px 0px 5px 4px;
    margin-right: 4px;
    border-radius: 4px;
    border-width: 1px;
    display: inline;
}

._58mt {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

input.tk_1 {
    background-color: #fff;
    color: #1c1e21;
    margin: 3px 3px 0px 5px;
}

._5k_4 {
    width: 73px;
    height: 21px;
    padding: 5px 0px 5px 4px;
    display: inline;
}

._5k_5 {
    width: 96px;
    height: 21px;
    padding: 5px 0px 5px 4px;
    display: inline;
}

.kkp {
    width: 392px;
    height: 42px;
}

.kkv {
    width: 316px;
    height: 42px;
    margin-top: 11px;
    margin-bottom: 11px;
    color: #777;
    font-size: 11px;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
}

.lln {
    width: 400px;
    height: 59px;
}

._6wl {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

._6j {
    font-size: 19px;
}

.mkm {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}

._7j {
    border: 1px solid;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 41px;
}

._58mk {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
    width: 400px;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}